.current {
  color: green;
}

ul.navbar-horizontal{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
}

ul.navbar-horizontal li{
    float: left;
    background-color:cadetblue;
    margin: 10px;
}

ul.navbar-horizontal li a{
    display : block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navbar-horizontal li a:hover{
    background-color: rgb(46, 68, 111);
}